services:
  - type: web
    name: url-shortener
    runtime: docker
    plan: free
    
    healthCheckPath: /api/urls
    
    autoDeploy: true
    
    envVars:
      - key: SPRING_DATA_MONGODB_URI
        scope: run
        value: ${MONGODB_URI}
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: SERVER_PORT
        value: 8080
    
    dockerfilePath: ./Dockerfile
    
    repo: https://github.com/your-username/projectroadmap
    branch: main

databases:
  - name: mongodb
    engine: mongodb
    version: latest
    plan: free
